@model IEnumerable<ProjectViewModel>

@{
    ViewData["Title"] = "Главная страница";

    int i = 1;
}

<div class="text-center">
    <h1 class="fs-16 text-uppercase">Проекты</h1>

    <div class="d-flex justify-content-end align-items-center">
        <div class="form-group me-3">
            <select class="form-select" id="statusSortSelect">
                <option disabled selected>Сортировка по</option>
                <option value="StatusSort">Статус</option>
            </select>
        </div>

        @if (Context.IsInRole("project_manager") || Context.IsInRole("manager"))
        {
            <a asp-area="" asp-controller="Project" asp-action="Create" class="btn btn-warning">
                <i class="bi bi-plus-square me-1"></i> Добавить
            </a>
        }
    </div>

    @if (Model.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <i class="bi bi-sort-alpha-down-alt"></i>
                        @Html.ActionLink("Название", "Index", new { sortOrder = "NameSortParam" })
                    </th>
                    <th scope="col">
                        <i class="bi bi-sort-alpha-down-alt"></i>
                        @Html.ActionLink("Название заказчика", "Index", new { sortOrder = "NamePerformParam" })
                    </th>
                    <th scope="col">Название исполнителя</th>
                    <th scope="col">Сотрудники</th>
                    <th scope="col">Руководитель проекта</th>
                    <th scope="col">Приоритет проекта</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <th scope="row">@(i++)</th>
                        <td>@project.Name</td>
                        <td>@project.CustomerCompany</td>
                        <td>@project.PerformingCompany</td>
                        <td>@string.Join(',', project.Employees?.Select(x => x.Label).ToArray()!)</td>
                        <td>@project.Manager?.Label</td>
                        <td>@project.Priority</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Project", new { id = project.Id }) |
                            @Html.ActionLink("Delete", "Delete", "Project", new { id = project.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="fs-12 text-muted">Проектов не существует</h3>
    }

</div>
